div.top-banner {
  width: 100%;
  height: 15%;
  background: #151719;
  padding: 30px;
}

div.post-metadata {
  width: 100%;
  height: 15%;
  background: blue;
  padding: 20px 30px;
}

div.post-metadata .post-tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
}

div.post-metadata .post-tags div {
  margin: 5px;
  padding: 2px;
}

div.bottom-content {
  padding:30px;
  width: 100%;
  height: 70%;
  background: red;
}

div.post-content {
  width: 100%;
  height: 100%;
  background: grey;
}
