div.top-banner {
  position:relative;
  width: 100%;
  padding: 30px;
}

div.post-tags-wrap {
  position:relative;
  width: 100%;
  padding: 10px;
}

div.post-tags-wrap .post-tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-end;
}

div.post-tags-wrap .post-tags div {
  margin: 5px;
  padding: 2px;
}

div.bottom-content {
  position:relative;
  padding: 10px;
  width: 100%;
}

div.bottom-content div.post-filter {
  padding: 10px;
  text-align:right;
  width: 100%;
}

div.post-list {
  padding: 10px;
  width: 100%;
}

div.post-item {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
}

div.post-item div.post-subtitle {
  padding: 5px 0;
}

div.post-item div.post-metadata {
  padding: 10px 0;
}
