div.top-banner {
  position:relative;
  width: 100%;
  padding: 30px;
}

div.post-metadata {
  position:relative;
  width: 100%;
  padding: 20px 30px;
}

div.post-metadata .post-tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-end;
}

div.post-metadata .post-tags div {
  margin: 5px;
  padding: 2px;
}

div.bottom-content {
  position:relative;
  padding: 10px;
  width: 100%;
}

div.postlist-wrap {
  width: 100%;
}

div.postlist-wrap div.post-filter {
  width: 100%;
  height: 50px;
  background: grey;
}

