{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/index.css' %}">
    {% block header %}
    {% endblock %}
  </head>
  <body>
    <div id="main-wrapper">
      <div id="main">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
          <div id="sidebar">
            <div class="sidebar-content">
              <div id="profile">
                <img src="{% static 'blog/img/avatar.jpeg' %}" alt="avatar">
              </div>
              <div id="searchbar">
                <input type="text" class="searchTerm" placeholder="Search">
                <button type="submit" class="searchButton">
                  <img src="{% static 'blog/img/icons/search-icon.png' %}"></i>
                </button>
              </div>
              <div class="menu">
                <div class="item">
                  <a class="menu-links" href="{% url 'index' %}">Home</a>
                </div>
                <div class="item">
                  <a class="menu-links" href="{% url 'post_index' %}">Posts</a>
                </div>
                <div class="item">
                  <a class="menu-links">Projects</a>
                </div>
              </div>
              <div class="social-links">
                <div class="icons">
                  <div> <img src="{% static 'blog/img/icons/linkedin.png' %}"> </div>
                  <div> <img src="{% static 'blog/img/icons/github.png' %}"> </div>
                  <div> <img src="{% static 'blog/img/icons/gmail.png' %}"> </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Content -->
        <div id="content-wrapper">
          <div id="content" class="active">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    function toggleSidebar(ref){
          document.getElementById("sidebar").classList.toggle('active');
          document.getElementById("main-content").classList.toggle('active');
        }
  </script>
</html>

