{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/index.css' %}">
  </head>
  <body>
    <div id="main">
      <!-- Sidebar -->
      <div id="sidebar" class="active">
        <div class="toggle-btn" onclick="toggleSidebar(this)">
          <span></span>
          <span></span>
          <span></span>
        </div>  
        <div class="content">
          <div id="profile">
            <img src="{% static 'blog/img/avatar.jpeg' %}" alt="avatar">
          </div>
          <div id="searchbar">
            <input type="text" class="searchTerm" placeholder="Search">
            <button type="submit" class="searchButton">
              <img src="{% static 'blog/img/icons/search-icon.png' %}"></i>
            </button>
          </div>
          <div class="menu">
            <div class="item">Home</div>
            <div class="item">Posts</div>
            <div class="item">Projects</div>
          </div>
          <div class="social-links">
            <div class="icons">
              <div> <img src="{% static 'blog/img/icons/linkedin.png' %}"> </div>
              <div> <img src="{% static 'blog/img/icons/github.png' %}"> </div>
              <div> <img src="{% static 'blog/img/icons/gmail.png' %}"> </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Content -->
      <div id="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </body>
  <script>
    function toggleSidebar(ref){
          document.getElementById("sidebar").classList.toggle('active');
        }
  </script>
</html>

