{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/index.css' %}">
    {% block header %}
    {% endblock %}
  </head>
  <body>
    <section id="container">
      <div class="content-wrap">

        <!-- Sidebar -->
        <div id="sidebar">
          <div id="profile">
            <img src="{% static 'blog/img/avatar.jpeg' %}" alt="avatar">
          </div>
          <div id="title">
            <span>Calvin's</span>
            <span>Thought</span>
            <span>Bubble</span>
          </div>
          <div id="searchbar">
            <input type="text" class="searchTerm" placeholder="Search">
            <button type="submit" class="searchButton">
              <img src="{% static 'blog/img/icons/search-icon.png' %}"></i>
            </button>
          </div>
          <div id="menu">
            <div class="item">
              <a class="menu-links" href="{% url 'index' %}">Home</a>
            </div>
            <div class="item">
              <a class="menu-links" href="{% url 'post_index' %}">Posts</a>
            </div>
            <div class="item">
              <a class="menu-links">Projects</a>
            </div>
          </div>
          <div class="social-links">
            <div class="icons">
            </div>
          </div>
        </div>

        <!-- Content -->
        <div id="content">
          {% block content %}
          {% endblock %}
        </div>
      </div>
  </body>
</html>

