{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/index.css' %}">
  </head>
  <body>
    <div id="main">
      <!-- Sidebar -->
      <div id="sidebar">
        <div class="toggle-btn" onclick="toggleSidebar(this)">
          <span></span>
          <span></span>
          <span></span>
        </div>  
        <div class="content">
          <div id="profile">
            <img src="{% static 'blog/img/avatar.jpeg' %}" alt="avatar">
          </div>
          <div id="searchbar">
            <span>Searchbar</span>
          </div>
          <div class="list">
            <div class="item">Home</div>
            <div class="item">Posts</div>
            <div class="item">Projects</div>
          </div>
        </div>
      </div>

      <!-- Content -->
      <div id="content">
      </div>
    </div>
  </body>
  <script>
    function toggleSidebar(ref){
      document.getElementById("sidebar").classList.toggle('active');
    }
  </script>
</html>
