{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/post_view.css' %}">
{% endblock %}

{% block content %}
<div>
  <div class="post-header">
    <div class="post-title">
      <h1>Example Post Title</h1>
      <div class="post-subtitle">
        Example Subtitle
      </div>
      <div class="post-info">
        <span>July 21, 2021</span><span>tag</span>
      </div>
    </div>
    <div class="post-body-wrap">
      <div class="post-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis dapibus malesuada. Suspendisse potenti. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla eget egestas elit, vel ullamcorper purus. Donec ut leo non nulla lobortis feugiat. Donec luctus est ut viverra ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Cras eu euismod mi, eget laoreet purus. Aliquam varius urna ante, sit amet fringilla enim tempus id. Cras facilisis efficitur felis nec dapibus.
      </div>
      <div class="post-stats">
      </div>
    </div>
  </div>
</div>
{% endblock %}
