{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/post_index.css' %}">
{% endblock %}

{% block content %}
<div class="top-banner">
  <h1>Introduction</h1>
  <br>
  <p>
  Welcome to posts index page!
  Posts are organized by popularity and time. Use the post tags to view related posts.
  </p>
</div>
<div class="bottom-content">
  <div class="post-filter">
    <span>Sort by: </span>
    <select>
      <option value="recent">Recent</option>
      <option value="views">Views</option>
    </select>
    <span>Order by: </span>
    <select>
      <option value="desc">Descending</option>
      <option value="asc">Ascending</option>
    </select>
  </div>
  <hr>
  <div class="post-tags-wrap">
    <div class="post-tags">
      <p>Tags:</p>
      {% for tag in tag_list %}
      <div>{{ tag.name }}</div>
      {% endfor %}
    </div>
  </div>
  <div class="post-list">
    {% for post in post_list %}
    <div class="post-item">
      <div>
        <h2>
          <a href="{% url 'post_view' pk=post.id %}">{{ post.title }}</a>
        </h2>
        <div class="post-subtitle">
          <a href="{% url 'post_view' pk=post.id %}">
            <h4><i>{{ post.subtitle }}</i></h4>
          </a>
        </div>
        <div class="post-metadata">
          <span class="post-date">{{ post.created_at }}</span> <span class="tag">Data Engineering</span>
        </div>
      </div>
      <a href="{% url 'post_view' pk=post.id %}">
        <img alt="post img">
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
