{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/post_index.css' %}">
{% endblock %}

{% block content %}
<div class="top-banner">
  <h1>Introduction</h1>
  <br>
  <p>Welcome to posts index page!</p>
  <p>Posts are organized by popularity and time. Use the post tags to view related posts.</p>
</div>
<div class="post-metadata">
  <div class="post-tags">
    <h3>Tags:</h3>
    <div>tag1,</div>
    <div>tag2,</div>
    <div>tag3,</div>
    <div>tag4,</div>
    <div>tag5,</div>
    <div>tag6,</div>
    <div>tag7,</div>
    <div>tag8,</div>
    <div>tag6,</div>
    <div>tag7,</div>
    <div>tag8,</div>
    <div>tag6,</div>
    <div>tag7,</div>
    <div>tag8,</div>
    <div>tag6,</div>
    <div>tag7,</div>
    <div>tag8,</div>
    <div>very long tag,</div>
    <div>all</div>
  </div>
</div>
<div class="bottom-content">
  <div class="post-content">
    <div class="post-selector">
    </div>
    <div class="posts-list">
    </div>
    <div class="post-paginator">
    </div>
  </div>
</div>
{% endblock %}
