{% extends 'base.html' %}
{% load static %}
{% load markdown_extras %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/post_view.css' %}">
{% endblock %}

{% block content %}
<div>
  <div class="post-header">
    <div id="post-title">
      <h1>{{ post.title }}</h1>
      <div class="post-subtitle">{{ post.subtitle }}</div>
      <div class="post-info">
        <span>{{ post.created_at }}</span><span>tag</span>
      </div>
    </div>
  </div>
  <div class="post-body-wrap">
    <div id="post-body">{{ post.body | markdown | safe }}</div>
    <div class="post-stats">
    </div>
  </div>
</div>
</div>
{% endblock %}
