{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/post_index.css' %}">
{% endblock %}

{% block content %}
<div class="top-banner">
  <h1>Introduction</h1>
  <br>
  <p>Welcome to posts index page!</p>
  <p>Posts are organized by popularity and time. Use the post tags to view related posts.</p>
</div>
<div class="bottom-content">
  <div class="post-filter">
    <span>Sort by: </span>
    <select>
      <option value="recent">Recent</option>
      <option value="views">Views</option>
    </select>
    <span>Order by: </span>
    <select>
      <option value="desc">Descending</option>
      <option value="asc">Ascending</option>
    </select>
  </div>
  <hr>
  <div class="post-tags-wrap">
    <div class="post-tags">
      <p>Tags:</p>
      <div>tag1,</div>
      <div>tag2,</div>
      <div>tag3,</div>
      <div>tag4,</div>
      <div>tag5,</div>
      <div>tag6,</div>
      <div>tag7,</div>
      <div>tag8,</div>
      <div>tag6,</div>
      <div>tag7,</div>
      <div>tag8,</div>
      <div>tag6,</div>
      <div>tag7,</div>
      <div>tag8,</div>
      <div>tag6,</div>
      <div>tag7,</div>
      <div>tag8,</div>
      <div>very long tag,</div>
      <div>all</div>
    </div>
  </div>
  <div class="post-list">
    <div class="post-item">
      <div>
        <h2>Example Post title</h2>
        <div class="post-subtitle">
          <a>
            <h5>Example Subtitle</h5>
          </a>
        </div>
        <div class="post-metadata">
          <span>July 21, 2021</span><span>tag</span>
        </div>
      </div>
      <a>
        <img alt="post img">
      </a>
    </div>
  </div>
</div>
{% endblock %}
